<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Match</title>
</head>
<body>

<div class="topmenu">
    <a href="../dashboard/dashboard.html">Dashboard</a>
    <a class=active href="../matches/matches.html">Matches</a>
    <a href="../champions/champions.html">Champions</a>
</div>

<button id="show-create-match-form" style="margin-top: 70px">Add Match</button>
<div id="create-match-form"></div>

<table id="match-table">
    <thead>
    <tr>
        <th>Length</th>
        <th>Winner</th>
        <th>Towers</th>
        <th>Kills</th>
        <th>Gold</th>
        <th>Summoner</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="match-tbody">

    </tbody>
</table>

<script src="./matches.js"></script>
</body>
</html>