<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Match</title>
</head>
<body>

<div class="topmenu">
    <a href="../dashboard/dashboard.html">Dashboard</a>
    <a href="../champions/champions.html">Champions</a>
</div>

<h1 style="margin-top: 200px">MATCHES</h1>

<script src="./matches.js"></script>
</body>
</html>