<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Dashboard</title>
</head>
<body>

<div class="topmenu">
    <a class=active href="../dashboard/dashboard.html">Dashboard</a>
    <a href="../champions/champions.html">Champions</a>
</div>

<table id="summoner-table" style="margin-top: 70px">
    <thead>
    <tr>
        <th>Summoner</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Type</th>
        <th>Favourite Champion</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody id="summoner-tbody">

    </tbody>
</table>

<script src="summoner.js"></script>
</body>
</html>