<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Summoner</title>
</head>
<body>

<div class="topmenu">
    <a href="../dashboard/dashboard.html">Dashboard</a>
    <a class=active href="../summoners/summoners.html">Summoners</a>
    <a href="../champions/champions.html">Champions</a>
</div>

<script src="./summoners.js"></script>
</body>
</html>