<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">
    <script src="../global.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <title>Log In</title>
</head>
<body>

<div class="topmenu">
    <a href="../dashboard/dashboard.html">Dashboard</a>
    <a href="../matches/matches.html">Matches</a>
    <a href="../champions/champions.html">Champions</a>
    <a class=active href="../login/login.html">Log In</a>
</div>



</body>
</html>